/* #root {
  max-width: 1280px;
  height: 100px;
  margin: 0 auto;
  padding: 2rem;
  
 
} */

h1,p{
  /* align-content: center; */
  margin-left: 500px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
    
}
p{
  display: flex;

}